In [73]:
#Data Manipulation of NBA Games.
#Importing NBA csv file... Turning it into df... 

import numpy as np 
import pandas as pd 
import matplotlib as plt

df = pd.read_csv(r"C:\Users\anarv\Documents\GitHub\Fantasy-Basketball\games_2010s.csv")
df.head()

,GAME_ID,TEAM,OPPT,TEAM_SCORE,OPPT_SCORE,RESULT,SCORE_DIFF,PLAYER,MP,FG,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PLUS_MINUS,PTS
0,/boxscores/202012310UTA.html,Phoenix Suns,Utah Jazz,106,95,W,11,Jae Crowder,36.683333,6,...,1,5,6,1,2,1,1,3,10,16
1,/boxscores/202012310UTA.html,Phoenix Suns,Utah Jazz,106,95,W,11,Mikal Bridges,36.533333,6,...,1,5,6,0,2,1,0,0,-2,16
2,/boxscores/202012310UTA.html,Phoenix Suns,Utah Jazz,106,95,W,11,Devin Booker,35.300000,10,...,0,3,3,7,0,1,6,3,-2,25
3,/boxscores/202012310UTA.html,Phoenix Suns,Utah Jazz,106,95,W,11,Chris Paul,29.833333,4,...,1,3,4,8,0,0,3,2,12,11
4,/boxscores/202012310UTA.html,Phoenix Suns,Utah Jazz,106,95,W,11,Deandre Ayton,28.333333,2,...,2,7,9,3,1,2,1,3,-1,4

In [74]:
#Creates df for each players avg during a season, s
def seasondf(s):
    year1df = df[df['GAME_ID'].str.contains(str(s) + str(0))] #1st half of the season (Oct - Dec)
    year2df = df[df['GAME_ID'].str.contains(str(s + 1) + str(1))] #2nd half of the season (Jan - Apr)
    return pd.concat([year1df, year2df], ignore_index = False, sort = False)

#Test case for 2019-2020 season
seasondf(2019)

,GAME_ID,TEAM,OPPT,TEAM_SCORE,OPPT_SCORE,RESULT,SCORE_DIFF,PLAYER,MP,FG,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PLUS_MINUS,PTS
30545,/boxscores/201906130GSW.html,Toronto Raptors,Golden State Warriors,114,110,W,4,Pascal Siakam,46.166667,10,...,2,8,10,3,1,1,2,2,2,26
30546,/boxscores/201906130GSW.html,Toronto Raptors,Golden State Warriors,114,110,W,4,Kyle Lowry,41.700000,9,...,2,5,7,10,3,0,3,5,16,26
30547,/boxscores/201906130GSW.html,Toronto Raptors,Golden State Warriors,114,110,W,4,Kawhi Leonard,41.083333,7,...,1,5,6,3,2,1,2,4,-2,22
30548,/boxscores/201906130GSW.html,Toronto Raptors,Golden State Warriors,114,110,W,4,Marc Gasol,26.566667,0,...,3,6,9,4,0,0,1,4,-7,3
30549,/boxscores/201906130GSW.html,Toronto Raptors,Golden State Warriors,114,110,W,4,Danny Green,17.716667,0,...,0,1,1,3,1,0,1,1,7,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1975,/boxscores/202010020LAL.html,Los Angeles Lakers,Miami Heat,124,114,W,10,Markieff Morris,15.900000,2,...,1,4,5,2,0,0,0,3,3,6
1976,/boxscores/202010020LAL.html,Los Angeles Lakers,Miami Heat,124,114,W,10,J.R. Smith,3.316667,0,...,0,0,0,0,0,0,0,2,0,0
1977,/boxscores/202010020LAL.html,Los Angeles Lakers,Miami Heat,124,114,W,10,Talen Horton-Tucker,0.000000,0,...,0,0,0,0,0,0,0,0,0,0
1978,/boxscores/202010020LAL.html,Los Angeles Lakers,Miami Heat,124,114,W,10,Jared Dudley,0.000000,0,...,0,0,0,0,0,0,0,0,0,0
1979,/boxscores/202010020LAL.html,Los Angeles Lakers,Miami Heat,124,114,W,10,JaVale McGee,0.000000,0,...,0,0,0,0,0,0,0,0,0,0

In [90]:
#Creates function avg which finds the avg of key statistic (x) during the season (s)
def avg(x, s):
    yeardf = seasondf(s)
    
    #Takes avg XPM ((variable) x per minute) of each player in season s
    perPlayer = yeardf.loc[:, ['PLAYER', 'MP', x]].groupby('PLAYER')

    #Adds XPM columns dividing x by minutes played
    avgsdf = perPlayer.mean()
    avgsdf['perMinute'] = avgsdf[x] / avgsdf['MP']

    return avgsdf

''' #Adds minimum requirement of minutes played so not to pick active players
    avgsdf = avgsdf.sort_values(by = ['perMinute'], ascending = False) 
    return avgsdf[avgsdf.MP > 15]'''

#Test case for most points per game in 2019-2020 season
avg('PTS', 2019)

                        MP        PTS  perMinute
PLAYER
Aaron Gordon     32.512424  15.618182   0.480376
Aaron Holiday     9.151235   3.851852   0.420911
Aaron Nesmith     5.713333   1.600000   0.280047
Abdel Nader      11.444118   3.843137   0.335818
Adam Mokoka       5.441667   1.000000   0.183767
...                    ...        ...        ...
Zeke Nnaji        1.004167   0.000000   0.000000
Zhaire Smith      9.675000   3.333333   0.344531
Zion Williamson  30.430000  19.400000   0.637529
Álex Abrines      1.889583   0.375000   0.198456
Ángel Delgado     3.691667   0.750000   0.203160

[662 rows x 3 columns]

In [102]:
'''
Insesrting the point Calculator for fantasy basketball
Point = 1, Rebound = 1.2, Assist = 1.5, Steal/Block = 3, Turnover = -1

*** This calculates based off of minutes played...
In other words EFFICIENCY on the court
NOT avg fantasy points per game ***

'''
def fantasydf(s): #average fantasy points for each player during season s
    yeardf = seasondf(s)

    #Sets up df to calculate avg fantasy points
    perPlayer = yeardf.loc[:, ['PLAYER', 'MP', 'PTS', 'TRB', 'AST', 'STL', 'BLK', 'TOV']].groupby('PLAYER')
    avgPlayer = perPlayer.mean()

    #Gives point value for each player
    avgPlayer['fantasyPts'] = avg('PTS',s)['perMinute'] + 1.2 * (avg('TRB',s)['perMinute']) + 1.5 * (avg('AST', s)['perMinute'])\
         + 3 * (avg('STL', s)['perMinute'] + avg('BLK',s)['perMinute']) - avg('TOV',s)['perMinute']
    avgPlayer.sort_values(by = ['fantasyPts'], ascending = False)

    #Adds minimum requirement of minutes played so not to pick inactive players
    avgPlayer = avgPlayer.sort_values(by = ['fantasyPts'], ascending = False)
    return avgPlayer[avgPlayer.MP > 10]

#Test case for top fantasy points per minute played during 20-21 season
fantasydf(2020).head(15)

,MP,PTS,TRB,AST,STL,BLK,TOV,fantasyPts
PLAYER,,,,,,,,
Giannis Antetokounmpo,29.366667,27.487805,13.878049,5.439024,0.658537,0.902439,3.536585,1.819966
Luka Dončić,33.954274,28.307692,9.153846,8.487179,0.846154,0.358974,4.307692,1.511762
LeBron James,34.494118,25.882353,8.882353,9.392157,1.117647,0.647059,4.019608,1.504718
Joel Embiid,28.963462,23.269231,10.807692,2.538462,1.076923,1.115385,3.307692,1.495518
James Harden,35.984043,30.404255,6.829787,7.617021,1.744681,0.914894,4.234043,1.494279
Kawhi Leonard,33.179710,27.065217,7.065217,4.717391,1.869565,0.652174,2.065217,1.450271
Anthony Davis,31.152244,23.788462,8.423077,3.000000,1.230769,1.653846,2.250000,1.438099
Andre Drummond,26.570556,14.600000,11.866667,2.100000,1.533333,1.166667,2.933333,1.398415
Trae Young,33.493011,28.870968,3.935484,9.774194,0.870968,0.193548,4.612903,1.398366
Kristaps Porziņģis,29.390104,21.875000,8.593750,1.843750,0.718750,1.625000,1.343750,1.382800
Nikola Jokić,33.915254,22.406780,9.677966,6.779661,1.237288,0.694915,3.406780,1.373413
Kyrie Irving,28.603333,23.400000,4.400000,4.900000,1.500000,0.400000,2.600000,1.368022
Bradley Beal,30.767742,29.225806,3.129032,4.741935,1.225806,0.419355,3.000000,1.366010
Karl-Anthony Towns,20.382500,15.850000,5.450000,2.600000,0.450000,0.650000,1.900000,1.358518
Jonas Valančiūnas,27.627083,15.475000,12.600000,1.950000,0.525000,1.225000,1.575000,1.346324