In [57]:
#Data Manipulation of NBA Games.
#Importing NBA csv file... Turning it into df... 

import numpy as np 
import pandas as pd 
import matplotlib as plt

df = pd.read_csv(r"C:\Users\anarv\Documents\GitHub\Fantasy-Basketball\games_2010s.csv")
df.head()

,GAME_ID,TEAM,OPPT,TEAM_SCORE,OPPT_SCORE,RESULT,SCORE_DIFF,PLAYER,MP,FG,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PLUS_MINUS,PTS
0,/boxscores/202012310UTA.html,Phoenix Suns,Utah Jazz,106,95,W,11,Jae Crowder,36.683333,6,...,1,5,6,1,2,1,1,3,10,16
1,/boxscores/202012310UTA.html,Phoenix Suns,Utah Jazz,106,95,W,11,Mikal Bridges,36.533333,6,...,1,5,6,0,2,1,0,0,-2,16
2,/boxscores/202012310UTA.html,Phoenix Suns,Utah Jazz,106,95,W,11,Devin Booker,35.300000,10,...,0,3,3,7,0,1,6,3,-2,25
3,/boxscores/202012310UTA.html,Phoenix Suns,Utah Jazz,106,95,W,11,Chris Paul,29.833333,4,...,1,3,4,8,0,0,3,2,12,11
4,/boxscores/202012310UTA.html,Phoenix Suns,Utah Jazz,106,95,W,11,Deandre Ayton,28.333333,2,...,2,7,9,3,1,2,1,3,-1,4

In [60]:
#Creates function avg which finds the avg of key statistic (x) during the season (s)
def avg(x, s):
    #Creates df for each player in season s
    year1df = df[df['GAME_ID'].str.contains(str(s) + str(0))] #1st half of the season (Oct - Dec)
    year2df = df[df['GAME_ID'].str.contains(str(s + 1) + str(1))] #2nd half of the season (Jan - Apr)
    yeardf = pd.concat([year1df, year2df], ignore_index = False, sort = False)
    

    #Takes avg XPM ((variable) x per minute) of each player in season s
    perPlayer = yeardf.loc[:, ['PLAYER', 'MP', x]].groupby('PLAYER')

    #Adds XPM columns dividing x by minutes played
    avgsdf = perPlayer.mean()
    avgsdf['perMinute'] = avgsdf[x] / avgsdf['MP']

    #Adds minimum requirement of minutes played so not to pick active players
    avgsdf = avgsdf.sort_values(by = ['perMinute'], ascending = False) 
    return avgsdf[avgsdf.MP > 15]

#Test case for most points per game in 2019-2020 season
avg('PTS', 2019)

                              MP        PTS  perMinute
PLAYER
James Harden           37.072034  36.932203   0.996228
Ja Morant              27.094444  26.333333   0.971909
Giannis Antetokounmpo  29.846875  25.156250   0.842844
Karl-Anthony Towns     31.548837  25.930233   0.821908
Joel Embiid            31.193841  25.260870   0.809803
...                          ...        ...        ...
Robert Covington       30.633333   5.500000   0.179543
Jordan McLaughlin      17.183333   3.000000   0.174588
Chuma Okeke            18.286667   3.000000   0.164054
Isaac Okoro            37.591667   5.500000   0.146309
Aleksej Pokusevski     16.387500   1.250000   0.076278

[335 rows x 3 columns]